<div class="p-3">
  <form>
    <div class="mb-3 mb-3">
      <label for="formFile" class="form-label">データをインポート</label>
      <input class="form-control" type="file" id="formFile">
    </div>
    <button type="submit" class="btn btn-primary">インポートする</button>
  </form>
</div>

<div class="p-3">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">名前</th>
        <th scope="col">年齢</th>
        <th scope="col">媒体</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>田中 太郎</td>
        <td>20</td>
        <td>google</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>鈴木 次郎</td>
        <td>25</td>
        <td>facebook</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>佐々木 小次郎</td>
        <td>30</td>
        <td>google</td>
      </tr>
    </tbody>
  </table>
</div>